.project{
    width: 450px;
    min-height: 550px;
    margin: 20px 20px;
    padding: 20px;
    box-sizing: border-box;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    
}

.project-title{
    font-size: 30px;
}

.project img{
    width:400px;
    height: 200px;
    background-color: white;
    border-radius: 20px;
}